.Tools--Box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #340034, #150050);
}

.Tool--Heading {
  font-size: 30px;
  font-style: bold;
  color: #fff;
}

.ToolList {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 40%;
  width: 100%;
  word-wrap: break-word;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.ToolCard {
  background: #7A0BC0; /* White background for contrast */
  border: 2px solid transparent;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
  max-width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.ToolCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.ToolCard-heading {
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
  color: #fff; /* Darker shade to stand out on white */
  margin: 0;
}

/* 


.Tool--Box {
  border: 7px solid transparent;
  border-image: linear-gradient(
      120deg,
      #258eee,
      #499dff 26.85%,
      #75b1ff 59.66%,
      #a1c4ff
    )
    1;
  width: 300px;
  height: 100px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 20pxß;
  justify-content: center;
  align-items: center;
}

.Tool--Box:hover {
  box-shadow: 0 0 20px rgba(0, 115, 229, 0.3), 0 0 20px rgba(41, 94, 255, 0.3),
    0 0 20px rgba(104, 66, 255, 0.3);
  animation: waveBorder 5s infinite linear;
}

@keyframes waveBorder {
  0% {
    border-image-source: linear-gradient(
      120deg,
      #258eee,
      #499dff 26.85%,
      #75b1ff 59.66%,
      #a1c4ff
    );
  }
  50% {
    border-image-source: linear-gradient(
      120deg,
      #258eee,
      #499dff 26.85%,
      #75b1ff 59.66%,
      #a1c4ff
    );
  }
  100% {
    border-image-source: linear-gradient(
      120deg,
      #258eee,
      #499dff 26.85%,
      #75b1ff 59.66%,
      #a1c4ff
    );
  }
}

/* .Tool--Box {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 24px; 
    overflow: hidden;
    border: 7px solid transparent;
    border-image: linear-gradient(
        120deg,
        #8fffce,
        #b8e7ff 26.85%,
        #c2d1ff 59.66%,
        #d2ccff
      ) 1; 
    background: linear-gradient(
        120deg,
        #8fffce,
        #b8e7ff 26.85%,
        #c2d1ff 59.66%,
        #d2ccff
      ); 
    -webkit-background-clip: text; 
    background-clip: text;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  .Tool--Box:hover {
    border-image: linear-gradient(
        120deg,
        #d2ccff,
        #c2d1ff 26.85%,
        #b8e7ff 59.66%,
        #8fffce
      ) 1;
     
    box-shadow: 0 0 20px rgba(0, 115, 229, 0.3), 
                0 0 20px rgba(41, 94, 255, 0.3),
                0 0 20px rgba(104, 66, 255, 0.3); 
  }
  
  .Tool--Box:hover::before {
    animation: waveText 5s infinite linear; 
  }
  
  @keyframes waveText {
    0%, 100% {
      background: linear-gradient(
        120deg,
        #8fffce,
        #b8e7ff 26.85%,
        #c2d1ff 59.66%,
        #d2ccff
      );
    }
    50% {
      background: linear-gradient(
        120deg,
        #d2ccff,
        #c2d1ff 26.85%,
        #b8e7ff 59.66%,
        #8fffce
      );
    }
  } */
