.ToolMain--Box {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #005B87; */
  /* background: linear-gradient(90deg, #140639, #7961BA, #6E4FC0, #15073A); */
  /* background: radial-gradient(circle, #7064A4, #270082); */
  background: #270082;

}

.ToolHead--Box {
  /* background-image: url("../assets/Images/loginBackground.png"); */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 150px;
  background-size: cover;
}

.ToolMain--Heading {
  color: #fff;
  backdrop-filter: blur(20px);
  padding: 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.Tools-Inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;
    font-size: 18px;
    padding: 20px;
    color: #fff;
}

.Tools-Inputs input{
    color: #fff;
    border-color: transparent;
    border-radius: 0px;
    border: 2px solid #7a0bc0;
    background: transparent;
    border-radius: 10px;
}

.SourceCoord{
    display: flex;
    gap: 15px;
    align-items: center;
}

.SourceCoord > p {
    width: 220px;
}

.SourceCoord > input{
    width: 200px;
    color: #fff;
    border: 2px solid #7a0bc0;
    background: transparent;
    border-radius: 10px;
}

.FocalLength--Box{
    display: flex;
    gap: 18px;
}

.HVSize{
    display: flex;
    gap: 15px;
    align-items: center;
}

.HVSize p  {
    width: 220px;

}

.HVSize input{
    width: 200px;
    color: #fff;
    border: 2px solid #7a0bc0;
    border-radius: 10px;
    background: transparent;
}

.UploadFile{
    background-color: green;
    color: white;
    padding: 30px;
    border: transparent !important;
}

.UploadButton{
    width: 200px !important;
    height: 40px !important;
    background-color: #258EEE !important;
    color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.SubmitButton{
    width: 200px !important;
    height: 40px !important;
    background-color: lightseagreen !important;
    color: #fff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.UploadButtonGroup{
    display: flex;
    flex-direction: row;
    gap: 50px;
}