.Login--Box {
  width: 100%;
  height: 100%;
  display: flex;
  background: #270082;
}

.loginImg{
  width: 100%;
}

.Login--Heading {
  font-size: 56px;
  font-style: bold;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  top: 1%;
  right: 20%;
}

.Login--Form {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  width: 500px !important;
  position: absolute;
  right: 10%;
  top: 15%;
}

.Login--Inputs--Box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Login--Form--Email__Box,
.Login--Form--Password__Box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Email--Text,
.Password--Text {
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  color: #fff;
}

.Email--Input,
.Password--Input {
  max-width: 500px !important;
  display: flex;
  height: 53px !important;
  border-radius: 50px !important;
  border: #7a0bc0 solid 2px !important;
}

.Login--Credentials--Password{
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.Login--Remember--CheckBox{
  width: 23px;
  height: 23px;
  border-color: #7a0bc0;
  border-radius: 5px;
  color: #fff;
 font-size: 12px !important;
 width: 200px;
}

.Login--ForgotPassword--Text{
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.Login--Button--Box{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.Login--Button{
  background: linear-gradient(90deg, #7A0BC0 18%, #FA58B6 90%) !important;
  width: 201px !important;
  height: 52px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #fff !important;
  font-size: 20px !important;
}

.Login--Button:hover{
  box-shadow:linear-gradient(90deg, #7A0BC0 18%, #FA58B6 90%) !important;
}

.Login--SignIn--Methods{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.Login--OR--Text{
  color: #fff;
  font-size: 22px;
  font-style: bold;
}

.Login--SignIn--Text{
  color: #fff;
  font-size: 18px;
  font-style: bold;
}

.Login--Methods{
  display: flex;
  flex-direction: row;
  gap: 40px;
}